:root {
    --main-color: #463F3A;
    --secondary-color: #8A817C;
    --accent-color: #BCB8B1;
    --default-light: #F4F3EE;
    --default-dark: #E0AFA0;

    --header-font: 'Lobster', 'cursive';
    --paragraph-font: 'Rufina', sans-serif;
}

html {
    background-color: var(--default-dark);
}

h1 {
    text-align: center;
}

body {
    background-image: linear-gradient(var(--default-light));
    background-attachment: fixed;
    font-family: 'Lobster';
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px;
    grid-auto-rows: 400px;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}
picture img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    box-shadow: 2px 2px 4px var(--main-color);
}
picture img.in {
    animation: img-come-in 1s;
}

@keyframes img-come-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}