body {
    font-size: 18px;
    line-height: 1.5;
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    background-color: #c68c53;
    color: whitesmoke;
    text-align: center;
}

header {
    padding-left: 1.5rem;
}


