@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Noto+Serif&family=Oranienbaum&display=swap');

body {
    font-size: 25px;
    line-height: 1.5;
}

main {
    font-family: "Oranienbaum";
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    font-family: "Grand Hotel";
    background-color: #c68c53;
    color: #800000;
    text-shadow: whitesmoke;
    text-align: center;
    border: 5px solid;
    border-radius: 25px;
    border-color: #c68c53;
    box-shadow: 10px 10px 5px goldenrod;
}

header {
    display: grid;
    grid: 250px / auto auto;
    padding-left: 1.5rem;
    font-size: 45px;
    text-shadow: 2px 2px white;
}

img {
    grid-column: 1 / 2;
    margin-left: 30px;
    margin-top: 30px;
}

h1 {
    grid-column: 2 / 2;
    margin-left: -250px;
}

h2 {
    font-size: 40px;
    text-shadow: 2px 2px grey;
}

footer {
    font-size: 35px;
}

#lastModified {
    color:#800000;
    font-family: "Oranienbaum";
    font-style: italic;
    font-size: 23px;
}
