@media only screen and ((max-width: 894px) and (min-width: 650px)) {
    header {
       display: grid;
       grid: 250px / auto auto auto;
       padding-left: .7rem;
       font-size: 45px;
       text-shadow: 2px 2px white;
   }
       img {
       width: 250px;
   }
       body {
       font-size: 25px;
       
   }
}