@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Great+Vibes&family=Marcellus&display=swap');

/* Typeface
Body Content: font-family: 'Marcellus', serif;
Headings:  font-family: 'Frank Ruhl Libre', serif;
Header:  font-family: 'Great Vibes', cursive;
*/

/* Color Scheme
Main Background: #FBF8EE;
Header background: #37666C;
Notices background: #EED595;
Main text color: black;
Tile background: #9DBEBB;
Text-On-Dark-Color: #FBF8EE;
*/

* {
    max-width: 1250px;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    background-color: white;
    color: goldenrod;
    height: 200px;
    text-align: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 5px;
}

header h1 {
    grid-column: 2;
    grid-row: 1;
    display: inline-block;
    font-family: 'Great Vibes';
    font-size: 45pt;
}

h1 {
    text-align: center;
}

header picture {
    grid-row: 1;
    grid-column: 1;
}

header section {
    grid-row: 1;
    grid-column: 3;
} 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navigation {
    display: block;
    background-color: #eed595;
    color: #37666c;
    font-family:'marcellus', serif;
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: 2px solid gray;
    border-radius: 5px; 
}

.navigation ul {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    width: 15%;
}

.navigation a:hover {
    background-color: lightgray;
}

h1 h2 h3 {
    background-color: #37666C;
    color: #fbf8ee;
    font-family: 'Frank Ruhl Libre', serif;
    text-align: center;
    display: block;
    padding: 5px;
    height: 20px;
}

body {
    background-color:#fbf8ee;
    font-family: 'marcellus', serif;
}

.grid1 {
    display: grid;
    grid-template-columns: 1; 
    grid-template-rows: auto;
    gap: 15px;
    padding: 5px;
    text-align: center;
}

p {
    font-size: larger;
}

.hero img {
    max-width: 600px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}

.hero h2 {
    text-align: center;
}

.hero-1 button {
    width: 100%;
}

.index section {
    display:block;
    border: 2px solid gray;
    border-radius: 5px; 
    background-color: #9dbebb;
    width: 100%;
}

.hero-1 div {
    display: block;
    text-align: center;
    align-items: center;
}

.hero-1 span {
    display: block;
}

.hero-1 img {
    max-width: 200px;
    padding: 10px;
}

img.in {
    animation: img-come-in 10s;
}

@keyframes img-come-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

fieldset {
    display: block;
    max-width: 500px;
    align-items: center;
}

.radio {
    display: block;
    max-width: 300px; 
    align-items: center;
}

.fruit-cards {
    background-color:#9dbebb;
    border: 2px solid gray;
    border-radius: 5px;
    text-align: center;
    overflow-wrap: break-word;
}

.fruit-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px; 
    align-items: center;
    width: 1fr;
    height: auto;
}

.fruit-cards img {
    max-width: 200px; 
    height: auto;
}

.fruit-cards p {
    display: block;
}

.order {
    text-align: center;
}

.services ul {
    border: 2px solid gray;
    border-radius: 5px;
}

/* --- forecast --- */

.five-day {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    max-width: 650px;
}

.five-day section {
    border: solid 0.5px black;
    padding: 0;
}

.five-day div {
    margin: 0 auto;
}

.five-day h4 {
    text-shadow: 1px 1px 1px gray;
    background-color: #37666c;
    color: white;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}

.five-day span {
    color: black;
    text-align: center;
    padding: 0.5rem;
    display: block;
}

.weather-icon img {
    display: block;
    margin: 10px auto;
    transform: scale(1.5);
    filter: drop-shadow(1px 1px 1px gray);
}

/* --- contact --- */

section.contact-info {
    position: relative;
    left: -1rem;
    width: 100%;
    padding: 1rem;
    display: grid;
    background-color: var(--default-dark);
    grid-template-columns: 50% auto;
    box-shadow: 0 0 10px var(--default-dark);
}

section.contact-info iframe {
    grid-row: span 3;
    grid-column: 1;
    height: 200px;
    width: 90%;
    border: 0;
}

section.contact-info h3, section.contact-info ul {
    margin-top: 0;
    text-align: left;
    color: var(--default-light);
}

section.contact-info ul {
    margin-bottom: 0;
}

section.contact-info li {
    padding-top: 3px;
}

section.contact-info li i {
    transition: transform 0.2s, color 0.4s;
}

section.contact-info li:hover i {
    color: var(--main-color);
    transform: scale(1.5);
}

/* --- footer --- */

footer {
    display: block;
    background-color: #eed595;
    align-items: center;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px; 
    padding: 0;
    margin: 0;
}

/* --- thankyou.html ---*/

.ty {
    border: 2px solid gray;
    border-radius: 5px; 
}

.ty img {
    display: block;
}