@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Noto+Serif&family=Oranienbaum&display=swap');

body {
    font-size: 25px;
    line-height: 1.5;
}

main {
    font-family: "Oranienbaum";
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    font-family: "Grand Hotel";
    background-color: #c68c53;
    text-align: center;
    border: 5px solid;
    border-radius: 25px;
    border-color: #c68c53;
    color: #800000;
    box-shadow: 10px 10px 5px goldenrod;
}

header {
    display: grid;
    grid-template-columns: auto;
    padding-left: 1.5rem;
    font-size: 45px;
    text-shadow: 1px 1px white;
}

h1 {
    grid-row: 1 / 2;
    font-size: 60px;
    margin-bottom: -10px;
    text-shadow: 2px 2px white;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    text-align: center;
    width: 95%;
    margin: 20px auto;
}