@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Oranienbaum&display=swap');

* {
    font-family: "Grand Hotel", "Oranienbaum";
}

html {
    background-color: beige;
}

body {
    max-width: 900px;
    margin: 0 auto;
}

header {
    font-family: "Grand Hotel";
    text-align: center;
    text-shadow: 1px 1px white;
    background-color: #c68c53;
    border-radius: 0 0 10px 10px;
    color: #800000;
    padding: 1em;    
}

h1 {
    margin-bottom: 0.25em;
    text-shadow: 2px 2px white;
    font-size: 70px;
}

header > span {
    font-size: 35px;
    color:#800000;
}

h3 {
    margin: 0;
    font-family: "Oranienbaum";
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px white;
    background: #c68c53 ;
    color: #800000;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 95%;
    margin: 20px auto;
}

section {
    border-radius: 10px;
    background-color: white;
    border: solid 1px #c68c53;
    overflow: hidden;
}

section * {
    font-family: "Oranienbaum";
}

section > div {
    padding: 0 10px;
}

section > div > span {
    display: block;
}

section > div > * {
    font-size: 1.05em;
}

section img {
    width: calc(100% - 2px);
    display: block;
    margin: 0 auto;
    border: solid 1px #c68c53;
    max-width: 320px;
}

footer {
    font-family: "Grand Hotel";
    font-size: 30px;
    text-align: center;
    background-color: #c68c53;
    color: #800000;
    border-radius: 10px 10px 0 0;
    padding: 1em; 
}