@media only screen and (min-width: 768px) and (max-width: 979px) {
    
    main {
        grid-template-columns: 1fr 1fr;
    }
    
    section:nth-of-type(3) {
        grid-column: span 3;
        width: 100%;
        justify-self: center;
    }
}

