main {
    grid-template-columns: 1fr 1fr;
}

body {
    max-width: 500px;
    margin: 0 auto;
}
    
main > section:nth-of-type(3) {
    font-size: larger;
    grid-column: span 2;
    width: 100%;
    justify-self: center;
}

section {
    font-size: larger;
}
