main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px 0;
}

main section {
    grid-column: 1;
    width: 90%;
    max-width: 450px;
    justify-self: center;
}

main > section:nth-of-type(1) {
    grid-column: span 3;
}

main > section:nth-of-type(2) {
    grid-column: span 3;
}

main > section:nth-of-type(3) {
    grid-column: span 3;
}

section img {
    max-width: 500px;
}
