main {
    grid-template-columns: 1fr;
    grid-gap: 20px 0;
    font-size: x-large;
}

main > section {
    grid-column: span 3;
    width: 90%;
    max-width: 450px;
    justify-self: center;
    font-size: x-large;
}

section img {
    max-width: 400px;
}