:root {
    --main-color: #463F3A;
    --secondary-color: #8A817C;
    --accent-color: #BCB8B1;
    --default-light: #F4F3EE;
    --default-dark: #E0AFA0;

    --header-font: 'Lobster', 'cursive';
    --paragraph-font: 'Rufina', sans-serif;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav button {
    margin: .2rem 2vw;
    background: var(--default-dark);
    border: none;
    font-size: 2rem;
    color: var(--main-color);
}

nav {
    background-color: var(--default-dark);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--main-color);
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
    background-color: var(--default-light);
}

nav ul {display: none;}
nav ul.open {display: block;}

#navButton span:nth-child(1) {display:block;}
#navButton span:nth-child(1) {display:none;}

#navButton.open span:nth-child(1) {display:none;}
#navButton.open span:nth-child(1) {display:block;}