:root {
    --main-color: #463F3A;
    --secondary-color: #8A817C;
    --accent-color: #BCB8B1;
    --default-light: #F4F3EE;
    --default-dark: #E0AFA0;

    --header-font: 'Lobster', 'cursive';
    --paragraph-font: 'Rufina', sans-serif;
}

html {-webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
    background-color: var(--secondary-color);
}

* { -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

h1, footer {
    font-family: var(--header-font);
    color: var(--default-light);
}

h1 {
    font-size: 3em;
    text-shadow: 2px 2px var(--default-dark);
}

h2 {
    font-family: var(--header-font);
    color: var(--main-color);
    text-shadow: 3px 3px var(--default-dark);
}

h3 {
    font-family: var(--header-font);
    color: var(--default-light);
    text-shadow: 2px 2px var(--default-dark);
}

p, a {
    font-family: var(--paragraph-font);
    font-size: 15px;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: auto 80% auto;
}

body > * {
    grid-column: 2;
}

#logo {
    width: 20%;
}

/* --- social media icons --- */

.social {
    display: flex;
    justify-content: space-between;
}

.social a {
    margin-right: 16%;
    width: 30%;
}

.social img {
    width: 50px;
    margin-left: -101%;
}

/* --- header --- */

header {
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    text-align: center;
    z-index: 10;
    padding: .5rem;
}

.name {
    display: flex;
    align-items: center;
}

#company {
    font-size: small;
}

header a {
    color: white;
}

header .company {
    text-align: center;
    font-size: 60%;
    padding: 10%;
}

header .company h1 {
    margin-bottom: -5px;
}

/* --- nav --- */

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navButton {
    background-color: var(--default-dark);
    color: var(--main-color);
    font-size: 1rem;
    margin-top: -2%;
}

nav {
    margin-top: 88px;
    margin-left: -19px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: .2rem 2vw;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--main-color);
    background-color: var(--default-dark);
    border-top: 2px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
    background-color: var(--default-light);
    color: var(--main-color);
}

/* --- nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
} --- */

nav ul {display: none;}
nav ul.open {display: block;
    grid-column: 1/4;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 2%;
}

#navButton span:nth-child(1) {display:block;}
#navButton span:nth-child(2) {display:none;}

#navButton.open span:nth-child(1) {display:none;}
#navButton.open span:nth-child(2) {display:block;}

/* --- current date in header --- */

#currentDate {
    grid-column: 1/4;
    text-align: center;
    background-color: var(--default-dark);
    color: var(--main-color);
    padding: 1% 0 1% 0;
    font-size: 19px;
}

/* --- main --- */

main {
    padding: 1px 1em;
    background-color: var(--default-light);
}

main section, main div {
    margin: 2rem;
}

main section, main div {
    border: 1px solid var(--secondary-color);
}

main section p, main div p {
    color: var(--main-color);
    padding: 5%;
}

/* --- heroes --- */

#hero {
    position: relative;
    padding: 0;
    box-shadow: 3px 3px 3px var(--main-color);
    padding: 3%;
    border-radius: 10px;
}

.event {
    position: relative;
    padding: 0;
    box-shadow: 3px 3px 3px var(--main-color);
    padding: 3%;
    border-radius: 10px;
}

.weather {
    position: relative;
    padding: 0;
    box-shadow: 3px 3px 3px var(--main-color);
    padding: 3%;
    border-radius: 10px;
}

.news {
    position: relative;
    padding: 0;
    box-shadow: 3px 3px 3px var(--main-color);
    padding: 3%;
    border-radius: 10px;
}

.join {
    position: relative;
    padding: 0;
    box-shadow: 3px 3px 3px var(--main-color);
    padding: 3%;
    border-radius: 10px;
}

.spotlight {
    position: relative;
    padding: 0;
    box-shadow: 3px 3px 3px var(--main-color);
    padding: 3%;
    border-radius: 10px;
}

.spotlight1 {
    position: relative;
    padding: 0;
    box-shadow: 2px 2px 2px var(--main-color);
    padding: 2%;
    border-radius: 8px;
}

.spotlight2 {
    position: relative;
    padding: 0;
    box-shadow: 2px 2px 2px var(--main-color);
    padding: 2%;
    border-radius: 8px;
}

.spotlight3 {
    position: relative;
    padding: 0;
    box-shadow: 2px 2px 2px var(--main-color);
    padding: 2%;
    border-radius: 8px;
}

.spotlight3{
    display: none;
}

/* --- footer --- */

footer {
    display: block;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--default-dark);
    color: var(--default-light);
    font-family: var(--header-font);
    /*position: relative;*/
    padding: 1rem;
    /*z-index: 10;*/
    align-items: center;
    text-align: center;
}

.section-1 {
    max-width: 50%;
    margin-left: 25%;
}

.logo-footer {
    width: 80%;
}

footer a {
    color: var(--default-light);
    text-decoration: underline var(--secondary-color);
}

footer a:hover {
    text-shadow: 1px 1px 10px var(--secondary-color);
}