:root {
    --main-color: #463F3A;
    --secondary-color: #8A817C;
    --accent-color: #BCB8B1;
    --default-light: #F4F3EE;
    --default-dark: #E0AFA0;

    --header-font: 'Lobster', 'cursive';
    --paragraph-font: 'Rufina', sans-serif;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
    background-color: var(--default-dark);}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav button {
    margin: .2rem 2vw;
    background: var(--default-dark);
    border: none;
    font-size: 2rem;
    color: var(--main-color);
}

nav {
    background-color: var(--default-dark);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--main-color);
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
    background-color: var(--default-light);
}

nav ul {display: none;}
nav ul.open {display: block;}

#navButton span:nth-child(1) {display:block;}
#navButton span:nth-child(2) {display:none;}

#navButton.open span:nth-child(1) {display:none;}
#navButton.open span:nth-child(2) {display:block;}


/* google fonts/size */

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

h1, h2, h3, th, footer {
    font-family: var(--header-font);
}

p, div, li, td, a {
    font-family: var(--paragraph-font);
}

footer {
    font-size: 1em;
}

/* header */

header {
    display: flex;
    justify-content: space-around;
    z-index: 10;
    padding: .5rem;
    position: relative;
    text-align: center;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
}

img {
    grid-column: 1 / 2;
    margin-left: 30px;
}

h1, h2 {
    color: var(--default-light);
    margin-bottom: 0.75rem;
}

/* heros */

#hero {
    border: #BCB8B1;
    border-radius: 10px;
    background-color: #F4F3EE;
    box-shadow: 3px 3px 3px var(--main-color);
    position: absolute;
    padding: 3%;
}

.event {
    border: #BCB8B1;
    border-radius: 10px;
    background-color: #F4F3EE;
    box-shadow: 3px 3px 3px var(--main-color);
    position: absolute;
    padding: 3%;
}

.weather {
    border: #BCB8B1;
    border-radius: 10px;
    background-color: #F4F3EE;
    box-shadow: 3px 3px 3px var(--main-color);
    position: absolute;
    padding: 3%;
}

.news {
    border: #BCB8B1;
    border-radius: 10px;
    background-color: #F4F3EE;
    box-shadow: 3px 3px 3px var(--main-color);
    position: absolute;
    padding: 3%;
}

.spotlight {
    border: #BCB8B1;
    border-radius: 10px;
    background-color: #F4F3EE;
    box-shadow: 3px 3px 3px var(--main-color);
    position: absolute;
    padding: 3%;
}

/* main */


/* footer */

footer {
    box-shadow: 0 0 10px var(--default-dark);
    background-color: var(--main-color);
    font-family: var(--header-font);
    color: var(--default-light);
    text-align: center;
    position: relative;
    padding: 1rem;
    z-index: 10;
}

footer a {
    color: var(--default-light);
    text-decoration: underline var(--secondary-color);
}

footer a:hover {
    text-shadow: 1px 1px 10px var(--secondary-color);
}

