@media only screen and (min-width: 64rem) {
    /* --- header --- */

    header {
        grid-template-columns: 3fr 4fr 1fr;
    }

    header h1 {
        font-size: 35px;
    }

    /* --- nav --- */ 

    .navigation {
        grid-column: 4/4;
    }

    #navButton {
        display: none;
    }

    nav {
        display: block;
        grid-column: 3/4;
        grid-row: 1/2;
        padding: 0;
        margin: 20%;
        margin-left: -1%;
        border: 0;
    }

    nav ul {
        display: flex;
    }

    nav a {
        border: 0;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }

    /* --- current time --- */

    #currentDate {
        grid-column: 1/4;
        background-color: var(--secondary-color);
        color: white;
        padding: 1% 0 1% 0;
        font-size: 1.5em;
    }

    /* --- main --- 

    main section, main div {
        height: 100%;
        width: 100%;
    } 

    /* --- home --- */

    .home-grid {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
        grid-template-rows: auto auto auto;
        gap: 15px;
    }

    #hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .event {
        grid-row: 1/2;
        margin-right: 0;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .news {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .spotlight {
        display: flex;
        flex-direction: column;
        grid-column: 3/4;
        grid-row: 1/4;
        box-sizing: border-box;
    }

    /* --- footer --- */

    footer {
        font-size: 80%;
    }

    .section-1 {
        display: flex;
        gap: 5px;
    }

    .logo-footer {
        justify-content: first baseline;
    }

    .section-2 {
        display: flex;
        align-items: center;
    }
}