@media only screen and (min-width:35rem) {
    root {
        --main-color: #463F3A;
        --secondary-color: #8A817C;
        --accent-color: #BCB8B1;
        --default-light: #F4F3EE;
        --default-dark: #E0AFA0;
    
        --header-font: 'Lobster', 'cursive';
        --paragraph-font: 'Rufina', sans-serif;
    }

    /* --- nav --- */

    nav button {display: none;}

    nav ul#primaryNav{
        display: flex;
        margin-left: 2vw;
        border-left: 1 px solid var(--default-dark);
    }
    
    nav ul li a {
        border: none;
        border-right: 1px solid var(--default-dark);
    }
}
