@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: antiquewhite;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: "Acme", Arial, sans-serif;
}

h1 {
	font-size: 1.5rem;
}

main {
	border: 2px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #bed;
}

button {
	padding: 5px;
	font-size: 18px;
}

input {
	padding: 5px;
	width: 170px;
}

label {
	font-size: 18px;
}

.listcontainer {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 1rem;
	padding: 1rem;
}

#list {
	margin: 0.2rem;
}

ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	main {
		width: 480px;
	}
}